<aside class="filter">
	<label>
		<p>Search in titles of adverts:</p>
		<input ng-model="search.title" ng-change="choosePage(0)">
	</label>
	<label>
		<p>Show on the page:</p>
		<select ng-model="qtyOnPage"
				ng-options="number for number in resultQty"
				ng-change="choosePage(); updatePagination(results)"
				ng-init="choosePage()">
		</select>
	</label>
</aside>
<pagination></pagination>
<ul>
    <li ng-repeat="advert in adverts | filter:search as results track by $index" ng-if="$index >= startNum && $index < endNum">
		<button type="button" ng-click="deleteItem(advert.id)" style="float: right">Delete</button>

		<p>id: {{advert.id}}</p>
        <p>{{advert.type}}</p>
        <p>{{advert.title}}</p>
        <p>{{advert.desc}}</p>
        <div>
			<a ui-sref="advert({number: advert.id})" ui-sref-active="active">
				<img ng-src="{{advert.pict}}">
			</a>
        </div>
    </li>
</ul>